:root{
    --font-name: 'Open Sans', sans-serif;
}

.container-1 .col-2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 5rem;
}

.container-1 .col-2 h1{
   font-family: 'Bebas Neue', sans-serif;
   color: rgb(224, 110, 224);
   margin-top: 1rem;
}

.container-1 .col-2 h1:hover{
    color: blueviolet;
 }

.sec-1 .container-1 .row{
    display: flex;
    gap: .5rem;
}

.sec-1 .container-1 .row .col-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1 .container-1 .row a {
   text-decoration: none;
   color: black;
   font-family:var(--font-name);
   transition: .3s all;
}

.sec-1 .container-1 .row a::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: rgb(153, 11, 139);
  transition: width .3;
}


.sec-1 .container-1 .row a:hover::after{
    width: 100%;
    transition: width .3s;
}


/* ----------------------------------------------Css For Section-2 starts here-------------------------------*/

.sec-2 .row{
    height: 70vh;
}

.sec-2{
    background-color: rgb(249, 237, 249);
    height: 100vh;
}
.sec-2 .container .image{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    /* float: left; */
}

.sec-2 .container .row .col-6 img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    align-self:flex-start;
    /* margin-top: 7rem; */

}

.sec-2 .container .row .about-me{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sec-2 .container .row .button{
   display: flex;
   justify-content: flex-start;
   gap: 2.3rem;
}

.sec-2 .container .row .button .btn-1{
    background-color: rgb(224, 110, 224);
    color: white;
    font: var(--font-name);
}

.sec-2 .container .row .button .btn-2{
    /* background-color: rgb(224, 110, 224); */
    color: rgb(224, 110, 224);
    border-color: rgb(224, 110, 224);
    font: var(--font-name);
}

.sec-2 .container .row .button .btn-2:hover{
    /* background-color: rgb(224, 110, 224); */
    background-color: rgb(224, 110, 224);
    color: white;
}

.sec-2 .container .row .col-6 h1{
   font-size: 42px;
}

.sec-2 .container .row{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}


@media (max-width:990px) {

        .sec-1 .row .logo{
            width: 100%;
            justify-content: center;
            margin: 1.5rem;
        }

        .sec-1 .row .col-1{
            margin-bottom: 1rem;
        }
        .sec-1 .row .logo h1{
            font-size: 60pt;
        }

        .sec-1 .row .col-4{
            width: 0%;
            display: none;
        }

        .sec-1 .row{
           display: flex;
           justify-content: space-around;
           /* flex-direction: column; */
        }

/*-------------------------------------- Css for section-2 starts here -------------------*/       

        .sec-2{
            height:120vh;
        }
        .sec-2 .row .about-me, .sec-2 .row .image , .col-2{
            width: 100%;
        }

        .sec-2 .container .row .col-6 img{
            border-radius: 50%;
            height: 250px;
            width: 250px;
            align-self:flex-start;
            margin: 0;
            /* margin-top: 7rem; */
        
        }

        .sec-2 .container .row .image{
            /* background-color: aqua; */
            height: 290px;
            margin-top: -5rem;
        }

      .sec-2 .row{
        height: 130vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }

      .sec-2 .container .row .about-me h4 , 
      .sec-2 .container .row .about-me p,
      .sec-2 .container .row .about-me h1{
         text-align: center; 
      }

      .sec-2 .container .row .button{
        justify-content: center;
     }

      
    }
